# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # 
# +---------------------------------------------------------+ #
# |     One in the Chamber by Despical (Version ${project.version})        #
# |                                                         | #
# |            https://www.patreon.com/despical             | #
# | Support us with becoming Patron and use Patron benefits | #
# +---------------------------------------------------------+ #
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

# Enable boss bar support?
Boss-Bar-Enabled: true

# How many seconds game should take to start.
Waiting-Time: 60

# Lobby waiting time set when lobby max players number is reached, used to start game quicker.
Starting-Time: 15

# How many seconds classic game should play.
Classic-Gameplay-Time: 600

# Should we hook into bungee cord? (If you wanna use arena per server option)
# You STILL need to use external addon for HUB server game signs
# One in the Chamber doesn't offer that addon.
Bungee-Enabled: false

# Enable this option when you're using MySQL, otherwise it won't work.
# Be careful when changing this because there is NO migrator between
# flat file and MySQL for player stats.
Database-Enabled: false

# Enable Inventory Manager for your games? (VERY USEFUL feature for MULTI ARENA)
# This saves inventory of players and restores it after player leaves arena.
# Saved elements: max health, health, food, experience, full inventory, armor contents, fire ticks, active potions, gamemode and more
Inventory-Manager-Enabled: true

# Should in-game chat format be enabled?
# You can edit the formatting in messages.yml
Chat-Format-Enabled: true

# Should we disable all chat related stuff?
# It will disable the separated chat.
Disable-Separate-Chat: false

# The delay between hitting players. ONLY EFFECTED in Minecraft 1.9+
Hit-Cooldown-Delay: 16

# Basic permissions for game, permissions explained here: https://github.com/Despical/OITC/wiki/Commands-and-permissions#basic-permissions
Basic-Permissions:
  Full-Games-Permission: "oitc.fullgames"
  # <arena> represents arena name (NOT MAP NAME!), for example: 'oitc.join.OITC02'
  # use 'oitc.join.*' to enable access to all arenas
  Join-Permission: "oitc.join.<arena>"

# Should we enable short commands such as /start and /leave
Enable-Short-Commands: true

# Should /oitc leave command be blocked?
Disable-Leave-Command: false

# Should players get fall damage?
Disable-Fall-Damage: false

# Commands which can be used in game, remove all of them to disable
Whitelisted-Commands:
  - me
  - help

# Enable in game rewards? See rewards.yml for more...
Rewards-Enabled: false

# First player to reach this score wins.
Winning-Score: 25

# If this option is enabled, players will only be allowed to execute OITC associated commands.
Block-Commands: true

# Should we fire some cool fireworks at location of every player after the game ends?
Firework-When-Game-Ends: true

# Should players' name tags in game be hidden?
Name-Tags-Hidden: true

# Should blocks behind game signs change their color based on game state?
# They will change color to:
#   - white (waiting for players) stained glass
#   - yellow (starting) stained glass
#   - orange (in game) stained glass
#   - gray (ending) stained glass
#   - black (restarting) stained glass
#   - red (inactive) stained glass
Signs-Block-States-Enabled: true

# Should we send random pro tips when the setup menu opens.
Send-Setup-Tips: true

# Should we check for updates on plugin start/after admin join?
Update-Notifier-Enabled: true

# Should we send warning messages if server is running a old Java version such as JAVA 8?
Ignore-Warning-Messages: false

# No way! You've reached the end! But... where's the dragon!?